* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}

img {
  width: 100%;
}

img:hover {
  filter: brightness(80%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
}

h2 {
  font-weight: 500;
  color: #444444;
  margin: 14px 0px 16px 0px;
  letter-spacing: 0.02em;
}

h6 {
  margin: 20px 0px 0px;
  color: #d06a42;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

header {
  height: 61px;
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: 600px) {
  header {
    width: 100%;
  }
}
.nav {
  width: 80%;
  display: flex;
  font-size: 14px;
}

.left-nav {
  position: absolute;
  left: 10vw;
  top: 25px;
  display: flex;
  margin-left: 6px;
}

.left-nav a {
  padding-right: 25px;
  font-size: 11px;
  text-decoration: none;
  color: #c0c0c0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.fa-chevron-down:before {
  content: "\f078";
  font-size: 8px;
  font-weight: bolder;
  margin-left: 5px;
}

.left-nav a:hover {
  color: #d06a42;
}

.right-nav {
  position: absolute;
  right: 10vw;
  top: 25px;
  display: flex;
}

.right-nav a {
  display: flex;
  justify-content: flex-end;
  padding-left: 14px;
  text-decoration: none;
  color: #aaaaaa;
  font-size: 13px;
}

#search {
  margin-left: 6px;
  margin-right: 8px;
  font-size: 12px;
}

.right-nav a:hover,
#search:hover {
  color: #d06a42;
}

main {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;
}
main .container {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-bottom: 30px;
  margin-left: 6px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    display: block;
    min-width: 1152px;
  }
}
.content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}

.blog-hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 473px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.blog-hero-section #hero-img {
  flex-direction: column;
  height: 100%;
  width: auto;
}

.text {
  padding: 26px 39px 30px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  border-top: 0px;
  width: 100%;
}

.info {
  line-height: 1.6em;
  margin-top: 8px;
}

.cont-button {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 11px 18px 12px 18px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-decoration: none;
  color: #d06a42;
  background-color: none;
  border: 1px solid #d06a42;
}

.cont-button:hover {
  background: linear-gradient(270deg, #d06a42, #7b381d);
  background-size: 400% 400%;
  color: white;
  -webkit-animation: button 2s ease infinite;
  -moz-animation: button 2s ease infinite;
  animation: button 2s ease infinite;
}

@-webkit-keyframes button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bar {
  width: 100%;
  background-color: #aaaaaa;
  height: 1px;
}

#article-footer {
  background-color: white;
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 0;
}

#article-footer span {
  padding-top: 8px;
}

span {
  padding-top: 10px;
  font-style: italic;
  color: #aaaaaa;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  margin-top: 12px;
}

.icons-footer a {
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: 5px;
  color: #aaaaaa;
}

.icons-footer a:hover {
  color: #d06a42;
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  width: 360px;
  margin-left: 30px;
}

.contentright {
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
}

.bg-img-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 183px;
  overflow: hidden;
  padding: 0px;
  margin: 0px auto;
  position: absolute;
  top: 0;
}

.bg-img {
  height: 100%;
  width: auto;
  flex-direction: column;
}

.profile-pic-section {
  height: 182px;
  width: 182px;
  overflow: hidden;
  margin-top: 99px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 20;
}

.profile-pic {
  height: 100%;
  width: auto;
  display: block;
  margin-left: -50px;
}

.social-icons-container {
  font-size: 12px;
  padding-left: 46px;
  width: 100%;
  margin: 13px auto;
  display: flex;
  justify-content: flex-start;
}
.social-icons-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 9px;
}
.social-icons-container a {
  border: 1px solid #e4e4e4;
  color: #aaaaaa;
  border-radius: 50%;
  text-decoration: none;
}
.social-icons-container a i {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons-container a i:before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-container a:hover {
  color: #d06a42;
}

.name {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.profile-info {
  line-height: 1.7em;
  padding-top: 7px;
  margin-bottom: 11px;
  font-size: 15px;
}

.profile-text {
  margin-top: -100px;
  padding: 100px 35px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #444444;
  font-size: 16px;
  border: 1px solid #eaeaea;
  border-top: none;
}

@media (min-width: 900px) {
  .container {
    width: 750px;
  }
}
.contentright2 {
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: white;
  margin-bottom: 39px;
  position: relative;
  border: 1px solid #eaeaea;
}

.popularposts {
  padding: 20px 15px;
  text-align: left;
}

.pop-post-name {
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 12px;
  margin-top: 13px;
}

.pop-post-img-sect {
  height: 200px;
  width: 300px;
  padding-bottom: 0;
}

.pop-post-img {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 5px;
  color: #444444;
  display: flex;
  justify-content: flex-start;
}

.metapopular {
  color: #aaaaaa;
}

.metadate {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
}

.morepopularposts {
  display: flex;
  flex-direction: column;
}

.threepop {
  margin-top: 20px;
}

.metadatethree {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.contentright3 {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #eaeaea;
}

.latestposts {
  padding: 19px 29px 0px 29px;
  text-align: left;
}

.latest-post-name {
  font-size: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  padding-left: 12px;
}

.latest-post-name h2 {
  margin-bottom: 0;
}

.latestpostcontainer {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 14px;
}

.latest-post-img-sect {
  width: 103px;
  height: 76px;
  padding: 0;
  margin: 0;
  display: flex;
}

.latest-post-img {
  height: 100%;
  width: 100%;
  display: flex;
}

.metalate {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.metalate h4 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #444;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  padding-top: 3px;
}

.metalate span {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
}

.latestpostcontainer-last {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 18px;
  margin-top: 14px;
}

.contentright4 {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #eaeaea;
}

.insta-post-name {
  margin-top: 13px;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 6px;
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.instagramposts {
  padding: 20px 20px;
  margin-bottom: 12px;
}

.instapostcontainer {
  margin-top: 8px;
  display: flex;
}

.insta-post-img-sect {
  height: 151px;
  width: 145px;
  padding: 0;
  margin: 2px 3px 2px 8px;
  display: flex;
}

.insta-post-img {
  height: 100%;
  width: 100%;
  display: flex;
}

.picturesbottom-container {
  display: flex;
}

.pictures-row {
  display: flex;
}

.pictures-surround {
  height: 188px;
  width: 180px;
  padding: 0;
  margin: 0;
  display: flex;
}

.img-bottom-single {
  height: 100%;
  width: 100%;
  display: flex;
}

footer {
  background-color: #222222;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #aaaaaa;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
