//@ts-check

$primary-text-color: #444444;
$icon-text-color: #aaaaaa;
$accent-text-color: #d06a42;
$bg-color: #f4f4f4;
$nav-bar-color: #f8f8f8;

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: red;
  font-size: 16px;
  // ^^ change to bg-color
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
h2 {
  padding-top: 0;
}
ul {
  list-style: none;
  display: flex;
}

// nav bar
header {
  height: 60px;
  display: flex;
  background-color: $nav-bar-color;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 80%;
  display: flex;

  font-size: 14px;
}

.left-nav {
  justify-content: flex-start;
}

.right-nav {
  position: absolute;
  right: 10vw;
}
.right-nav a {
  justify-content: flex-end;
  padding: 5px;
}

// main

.container {
  display: inline-block;
  margin-left: 10.5%;
  margin-top: 60px;
}
.content {
  display: block;
  width: 58%;
}

@media (min-width: 600px) {
  #article-img {
    flex-direction: column;
    // width: 750px;
    // height: 474px;
    width: 100%;
  }
}
@media (max-width: 599) {
  #article-img {
    flex-direction: column;
    width: 50%;
  }
}

#blurb {
  height: 390px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding: 20px;
  position: relative;
}

#article-footer {
  border-top: $icon-text-color solid 1px;
  height: 60px;
  background-color: white;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons-footer a {
  padding: 11px;
}
