//@ts-check

$primary-text-color: #444444;
$icon-text-color: #aaaaaa;
$accent-text-color: #d06a42;
$bg-color: #f4f4f4;
$nav-bar-color: #f8f8f8;

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: red;

  // ^^ change to bg-color
}
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
ul {
  list-style: none;
  display: flex;
}
h2 {
  font-weight: 500;
  color: $primary-text-color;
  margin: 14px 0px 16px 0px;
  letter-spacing: 0.02em;
}
// p {
//   color: $primary-text-color;
// }
h6 {
  margin: 20px 0px 0px;
  color: $accent-text-color;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

// nav bar
header {
  height: 60px;
  display: flex;
  background-color: $nav-bar-color;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 80%;
  display: flex;

  font-size: 14px;
}

.left-nav {
  justify-content: flex-start;
}

.right-nav {
  position: absolute;
  right: 10vw;
}
.right-nav a {
  justify-content: flex-end;
  padding: 5px;
}

// main

main {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    margin-bottom: 60px;
    margin-left: 6px;
    //   padding-right: 20px;
    //   padding-left: 5px;
  }
}

.content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 49px;
}
.blog-hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 473px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;

  #hero-img {
    flex-direction: column;
    //   width: 750px;
    height: 100%;
    width: auto;
  }
}

.text {
  //   margin-top: 25px;
  padding: 26px 39px 30px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  border-top: 0px;
  width: 100%;
}
// @media (min-width: 600px) {

.info {
  line-height: 1.6em;
  margin-top: 8px;
}

.cont-button {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 11px 18px 12px 18px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-decoration: none;
  color: $accent-text-color;
  background-color: none;
  border: 1px solid $accent-text-color;
}

.cont-button:hover {
  color: blue;
  border-color: blue;
}

.bar {
  width: 100%;
  background-color: $icon-text-color;
  height: 1px;
}

#article-footer {
  background-color: white;
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 0;
}

span {
  padding-top: 10px;
  font-style: italic;
  color: $icon-text-color;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  margin-top: 12px;
}

.icons-footer a {
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: 5px;

  color: $icon-text-color;
}

.social-icons-container {
  font-size: 12px;
  padding-left: 46px;
  width: 100%;
  margin: 13px auto;
  display: flex;
  justify-content: flex-start;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 9px;
  }
  a {
    border: 1px solid #e4e4e4;
    color: $icon-text-color;
    border-radius: 50%;
    text-decoration: none;

    i {
      height: 28px;
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i:before {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  width: 360px;
  margin-left: 30px;
}
.contentright {
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
  //   padding-top: ;
}

.bg-img-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 183px;
  overflow: hidden;
  padding: 0px;
  margin: 0px auto;
  position: absolute;
  top: 0;
}
.bg-img {
  height: 100%;
  width: auto;
  flex-direction: column;
}

.profile-pic-section {
  height: 182px;
  width: 182px;
  overflow: hidden;
  margin-top: 99px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 20;
}

.profile-pic {
  height: 100%;
  width: auto;
  display: block;
}
.name {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 0.02em;
}
.profile-info {
  line-height: 1.6em;
  padding-top: 5px;
  margin-bottom: 12px;
}
.profile-text {
  margin-top: -100px;
  padding: 100px 35px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $primary-text-color;
  font-size: 16px;
  border: 1px solid #eaeaea;
  border-top: none;
}

@media (min-width: 900px) {
  .container {
    width: 750px;
  }
}
// under profile section
.contentright2 {
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #eaeaea;
}
.popularposts {
  padding: 20px 15px;
  text-align: left;
}
.pop-post-name {
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 12px;
}
.pop-post-img-sect {
  height: 200px;
  width: 300px;
  padding-bottom: 0;
}

.pop-post-img {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 5px;
  color: $primary-text-color;
  display: flex;
  justify-content: flex-start;
}
.metapopular {
  color: $icon-text-color;
}
.metadate {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
}
.morepopularposts {
  display: flex;
  flex-direction: column;
}

.threepop {
  margin-top: 20px;
}
.metadatethree {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
