//@ts-check

$primary-text-color: #444444;
$icon-text-color: #aaaaaa;
$accent-text-color: #d06a42;
$bg-color: #f4f4f4;
$nav-bar-color: #f8f8f8;

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: red;
  font-size: 16px;
  // ^^ change to bg-color
}
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
ul {
  list-style: none;
  display: flex;
}
h6 {
  margin-bottom: 0px;
  padding-top: 8px;
}

// nav bar
header {
  height: 60px;
  display: flex;
  background-color: $nav-bar-color;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 80%;
  display: flex;

  font-size: 14px;
}

.left-nav {
  justify-content: flex-start;
}

.right-nav {
  position: absolute;
  right: 10vw;
}
.right-nav a {
  justify-content: flex-end;
  padding: 5px;
}

// main
main {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
}
.container {
  display: flex;
  margin-top: 50px;
  flex: 2;
  margin-bottom: 60px;
  padding-right: 20px;
  padding-left: 5px;
}
.content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $icon-text-color;
  max-height: 884px;
}

// @media (min-width: 600px) {
//   #article-img {
//     flex-direction: column;
//     // width: 750px;
//     // height: 474px;
//     width: 100%;
//   }
// }
// @media (max-width: 599px) {
//   #article-img {
//     flex-direction: column;
//     width: 50%;
//   }
// }

.info {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
}

.cont-button {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-decoration: none;
  color: $accent-text-color;
  background-color: none;
  border: 1px solid $accent-text-color;
}

.bar {
  width: 90%;
  background-color: $icon-text-color;
  height: 1px;
}

#article-footer {
  background-color: white;
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 5%;
  height: 85px;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 0;
}

span {
  padding-top: 10px;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  align-items: flex-start;
}
.icons-footer a {
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 55px;
}
.contentright {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 5%;
  background-color: white;
  margin-left: 12px;
  margin-right: 5px;
  position: relative;
}

.img {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.text {
  margin-top: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.bg-img {
  position: absolute;
  top: 0;
  object-fit: contain;
}

.greece {
  height: 180px;
  width: 180px;
  display: block;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: 70px;
}
.george {
  margin-bottom: 0;
}
